section(class="canvas front" id="front")

    div(class="content")

        h2 Schedul.AI

        div

            p Get it in the diary.

            div

                a(href="#section-2") See a demo
                a(href="#section-3") Sign up for the beta

    +nav-1("section-1")
