section(class="canvas section-2" id="section-2")

    h2 Live demo

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Modulari
                p.
                    Alita sunt encapsulated in modularized dum re-utilis componentia funcionalidades
                    est, evolutionis et sustentacionem facere facillimus.


    +nav-1("section-3")
